<h1>Leaderboard</h1>
<a href="leaderboard">Leaderboard</a>

<h1>Registered Athletes</h1>
<ul>
	{{#each athletes}}
	<li><a href="./athlete/{{this.id}}">{{this.firstname}} {{this.lastname}} ({{this.id}})</a></li>
	{{/each}}
</ul>
<a href="register">Register</a>
