<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shamvelo - Error</title>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SL23R2Z45H"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SL23R2Z45H');
	</script>
</head>
<body>

<p>Oops!</p>

<p>{{ error.description }}</p>

</body>
</html>
