<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shamvelo - Home</title>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SL23R2Z45H"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SL23R2Z45H');
	</script>
</head>
<body>

<h1>Leaderboard</h1>
<a href="leaderboard2">Leaderboard 2</a><br/>
<a href="leaderboard">Leaderboard</a><br/>
<a href="leaderboardjson">Leaderboard (JSON)</a><br/>
<form action="./refreshallactivities" method="POST">
	<input type="submit" name="btnRefreshAllActivities" value="Refresh All Activities"/>
</form>


<h1>Registered Athletes</h1>
<ul>
	{{#each athletes}}
	<li><a href="./athlete/{{this.id}}">{{this.firstname}} {{this.lastname}} ({{this.id}})</a></li>
	{{/each}}
</ul>
<a href="register">Register</a>

</body>
</html>
