<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shamvelo - Home</title>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-61373687-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>

<h1>Leaderboard</h1>
<a href="leaderboard">Leaderboard</a>
<a href="leaderboardjson">Leaderboard (JSON)</a>
<form action="./refreshallactivities" method="POST">
	<input type="submit" name="btnRefreshAllActivities" value="Refresh All Activities"/>
</form>


<h1>Registered Athletes</h1>
<ul>
	{{#each athletes}}
	<li><a href="./athlete/{{this.id}}">{{this.firstname}} {{this.lastname}} ({{this.id}})</a></li>
	{{/each}}
</ul>
<a href="register">Register</a>

</body>
</html>
