<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shamvelo{{#if title}} - {{title}}{{/if}}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="/static/css/shamvelo.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL23R2Z45H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-SL23R2Z45H');
  </script>
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        <i class="bi bi-bicycle me-2"></i>Shamvelo
      </a>
      {{#if showLogout}}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <form action="/auth/logout" method="POST" class="d-inline">
            <button type="submit" class="btn btn-outline-light btn-sm">
              <i class="bi bi-box-arrow-right me-1"></i>Logout
            </button>
          </form>
        </li>
      </ul>
      {{/if}}
    </div>
  </nav>

  <main class="container py-4">
    {{{body}}}
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <img src="/static/img/api_logo_pwrdBy_strava_horiz_gray.svg" height="20" alt="Powered by Strava">
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
